// COLORS
//original
//$primary-color: #02aab0;
//$secondary-color: #00cdac;

//dark blue and teal colors
//$primary-color: #173F5F;
//$secondary-color: #3CAEA3;

//dark red and some light color
$primary-color: #5E0202;
$secondary-color: #A66249;

//turquoise and forest
//$primary-color: #027368;
//$secondary-color: #034001;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
